/* Cabeçalho */
.navbar-default{
    background-color: #773a3a;
    border: none;
}
.navbar{
    border-radius: 0%;
}
.navbar-default .navbar-header a, .navbar-default .navbar-collapse ul li a{
    color: #fff;
}

.navbar-default .navbar-header a:hover, .navbar-default .navbar-collapse ul li a:hover{
    color: rgb(0, 0, 0);
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background-color: transparent;
}

.navbar-default .navbar-toggle{
    border-radius: 0%;
}
.navbar-default .navbar-toggle .icon-bar{
    background-color: #fff;
}

/* Conteúdo */
.conteudo{
    text-align: center
}

.conteudo h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

#form-add-note .campo{
    color: #fff;
    background-color: #773a3a;
    border: none;
    border-radius: 0%;
    box-shadow: none;
    outline: none;
}

.conteudo .enviar{
    border: none;
    padding: 10px 15px;
    background-color: #773a3a;
    color: #fff;
    margin-top: 15px;
}
.notas{
    margin-top: 70px;
}
.notas h3{
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
#notes,#notes li{
    list-style: none;
}
#notes{
    text-align: center;
    padding: 0;
}
#notes li{
    cursor: pointer;
    padding: 10px;
}
#notes li:hover{
    background-color: aqua;
}

.informacoes .bloco{
    text-align: center;
    margin: 0 auto;
    width: 80%;
}

.informacoes .uso{
    text-align: center
}

.informacoes .uso h4, .informacoes .bloco h2{
    text-transform: uppercase;
    font-weight: bold
}

.informacoes .bloco p, .informacoes .uso p{
    font-size: 17px;
    color: #496161;
}